NODE_ENV = development
PORT = 8095
DB_DIALECT = sqlite
APP_URL = http://localhost:8095
DB_FILENAME = appcenar.db
DB_FOLDER = database

DB_ALTER = false
DB_FORCE = false
#email
SESSION_SECRET = 'genera_tu_propia_clave_secreta_aqui'
EMAIL_SERVICE = 'gmail'
EMAIL_USER = 'tu_correo@gmail.com'
EMAIL_PASSWORD = 'tu_contraseña_de_aplicacion'
